.row
  %p 
    Conversation: 
    = @id
%div
  - i=0
  - @collection.reverse.each do |blip|
    -i=i+1
    %div{:class =>'row'+i.to_s }
      %p=parse_blip_body(blip['body'])
      %p
        %span= blip['id']
        %strong= blip['user_path']
        %em=  blip['created_at']
        %a{:href => 'http://blip.pl/s/'+blip['id'].to_s}
  %p
    %a(href="/threads/#{@id}") Permalink
