.row
  %p 
    Conversation: 
    = @id

  %p
    - @collection.reverse!
    - @collection.each do |blip|
      %div.blip
        %p=parse_blip_body(blip['body'])
        %p
          %span= blip['id']
          %strong= blip['user_path']
          %em=  blip['created_at']
          %a{:href => 'http://blip.pl/s/'+blip['id'].to_s}
  %p
    %a(href="/threads/#{@id}") Permalink
